@charset "utf-8";

/* 웹폰트 */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
body {
   overflow: hidden;
}

body,html{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
}

/* 레이아웃 */

/* progress */
.progress {
   position: absolute; 
   z-index: 15000; 
   width: 100%; height: 100%; 
   background: #101010; 
   color: #ffffff;
}

.progress .hello {
   position: absolute;
   top: 40%; left: 43%;
   font-size: 3vw;
   color: #FAE080;
   font-family: 'Open Sans', sans-serif;
}

.progress-bar {	
   border-top: 1px solid #ffffff;
   position: absolute;	
   top: 50%; width: 0%;
}

.progress-text {
   position: absolute; 
   left: 50%; top: 50%; 
   transform: translate(-50%,-50%); 
   font-size: 3vw; color:#ffffff;
}

ul, li{
   list-style:none
}

ul {
   right: 50px;
}

ul li a{
   line-height: 40px;
   color: #000000;
   padding: 0 15px;
   text-decoration: none;
   display: none;
} 

.section {
   width: 100%;
   height: 100%;
   position: relative;
}

/* 메인 */
#main {
   background-color: #FAE080;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   position: relative;
 }

#text {
   height: 100px;
   font-family: 'Open Sans', sans-serif;
   font-size: 90px;
   font-weight: bold;
   text-align: center;
   position: relative;
   top: 45%;
}

#text div:first-child {
   opacity: 0; 
}

#main.active #text div:nth-child(1) {
   opacity: 1; 
   animation: ani1 0.7s 1.5s ease forwards;
}

#text strong:nth-child(2) {
   text-align: center;
   font-size: 60px;
   position: relative;
   top: 10px;
   color: #4F4F4F;
   display: block;
   font-weight: 700;
   opacity: 0;
   animation: ani1 0.7s 2.5s ease forwards;
}

#text #typing {
   font-size: 26px;
   position: relative;
   bottom: 32px;
   opacity: 0;
   animation: ani1 0.7s 3.5s ease forwards;
}

@keyframes ani1 {
   0%   {
      opacity: 0;
      transform: translateY(-50px);
   }
   50%   {
      opacity: 0;
   }
   100% {
      opacity: 1;
      transform: translateY(0);;
   }
}

.bubbles-container {
   position: absolute;
   top: 0;
   left: 50%;
   width: 100%;
   margin: 0 auto;
   transform: translateX(-50%);
   opacity: 0.75;
}

.bubbles { width: 100%; height: auto; }

circle{ stroke: white; fill: none; }
circle > g > g:nth-of-type(3n) circle { stroke: #EBEBEB; }
circle > g > g:nth-of-type(4n) circle { stroke: #EBEBEB; }

.bubbles-large { overflow: visible; }
.bubbles-large > g { transform: translateY(2048px); opacity: 0; will-change: transform, opacity; }
.bubbles-large g:nth-of-type(1) { animation: up 10s infinite; }
.bubbles-large g:nth-of-type(1) g { transform: translateX(350px); }
.bubbles-large g:nth-of-type(1) g circle { animation: wobble 4s infinite ease-in-out;  }
.bubbles-large g:nth-of-type(2) { animation: up 12s 250ms infinite; }
.bubbles-large g:nth-of-type(2) g { transform: translateX(450px); }
.bubbles-large g:nth-of-type(2) g circle { animation: wobble 3s infinite ease-in-out;  }

.bubbles-medium { overflow: visible; }
.bubbles-medium > g { transform: translateY(2048px); opacity: 0; will-change: transform, opacity; }
.bubbles-medium g:nth-of-type(1) { animation: up 6.5s infinite; }
.bubbles-medium g:nth-of-type(1) g { transform: translateX(350px); }
.bubbles-medium g:nth-of-type(1) g circle { animation: wobble 3s infinite ease-in-out;  }
.bubbles-medium g:nth-of-type(2) { animation: up 5.25s 250ms infinite; }
.bubbles-medium g:nth-of-type(2) g { transform: translateX(450px); }
.bubbles-medium g:nth-of-type(2) g circle { animation: wobble 3s infinite ease-in-out;  }
.bubbles-medium g:nth-of-type(3) { animation: up 7s 550ms infinite; }
.bubbles-medium g:nth-of-type(3) g { transform: translateX(500px); }
.bubbles-medium g:nth-of-type(3) g circle { animation: wobble 1s infinite ease-in-out;  }
.bubbles-medium g:nth-of-type(4) { animation: up 9.5s 800ms infinite; }
.bubbles-medium g:nth-of-type(4) g { transform: translateX(700px); }
.bubbles-medium g:nth-of-type(4) g circle { animation: wobble 2s infinite ease-in-out;  }

.bubbles-small { overflow: visible; }
.bubbles-small > g { transform: translateY(2048px); opacity: 0; will-change: transform, opacity; }
.bubbles-small g:nth-of-type(1) { animation: up 10s infinite; }
.bubbles-small g:nth-of-type(1) g { transform: translateX(350px); }
.bubbles-small g:nth-of-type(1) g circle { animation: wobble 1s infinite ease-in-out;  }
.bubbles-small g:nth-of-type(2) { animation: up 13.5s infinite; }
.bubbles-small g:nth-of-type(2) g { transform: translateX(750px); }
.bubbles-small g:nth-of-type(2) g circle { animation: wobble 3s infinite ease-in-out;  }
.bubbles-small g:nth-of-type(3) { animation: up 11s 250ms infinite; }
.bubbles-small g:nth-of-type(3) g { transform: translateX(350px); }
.bubbles-small g:nth-of-type(3) g circle { animation: wobble 1s 250ms infinite ease-in-out;  }
.bubbles-small g:nth-of-type(4) { animation: up 5.75s 325ms infinite; }
.bubbles-small g:nth-of-type(4) g { transform: translateX(180px); }
.bubbles-small g:nth-of-type(4) g circle { animation: wobble 1s 320ms infinite ease-in-out;  }
.bubbles-small g:nth-of-type(5) { animation: up 6s 125ms infinite; }
.bubbles-small g:nth-of-type(5) g { transform: translateX(350px); }
.bubbles-small g:nth-of-type(5) g circle { animation: wobble 5s 250ms infinite ease-in-out;  }

@keyframes wobble {
	33% {
		transform: translateX(-100px);
	}
	66% {
		transform: translateX(100px);
	}
}

@keyframes up {
	0% {
		opacity: 0;
	}
	10%, 90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translateY(-500px);
	}
}

.bounce{
   animation: bounce 1s 3s ease-in infinite;
   opacity: 0;
   font-family: 'Open Sans', sans-serif;
   bottom: 11rem;
   color: #4F4F4F;
   font-size: 1rem;
   left: 49.5%;
   margin-left: -3rem;
   opacity: 0.8;
   position: absolute;
   text-align: center;
}

@keyframes bounce {
   50% {
     transform: translateY(-5%);
   }
 }

/* About */
#about {
   background-color: #8485D7;
   font-family: 'Open Sans', sans-serif;
   min-height: 100vh;
   align-items: center;
   justify-content: center;
   position: relative;
   display: flex;
}


#about div span:first-child {
   color: #FFFFFF;
   display: block;
   font-family: 'Open Sans', sans-serif;
   font-weight: 700;
   font-size: 5em;
   left: 35%;
   position: relative;
   top: 40%;
}

#about #intro {
   font-family: 'Noto Sans KR', sans-serif;
   font-size: 25px;
   position: relative;
   top: 22em;
	width: 100%;
   margin: 0 auto;
   padding: 0 10px;
   text-align: center;
   line-height: 150%;
}

#about #intro strong{
   font-weight: 700;
}

#about #intro2{
   display: block;
   font-family: 'Noto Sans KR', sans-serif;
   font-size: 25px;
   position: relative;
   top: 22em;
   height: 100%;
	width: 100%;
   margin: 0 auto;
   padding: 0 10px;
   text-align: center;
   line-height: 150%;
}

#about #intro2 strong {
   font-weight: 700;
   color: #ffffff;
}

/* 스킬 */
#skills {
   background-color: #8CE4A5;
   font-family: 'Open Sans', sans-serif;
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   flex-direction: column;
}

#skill-text{
   color: #FFFFFF;
   display: block;
   font-family: 'Open Sans', sans-serif;
   font-weight: 700;
   font-size: 7em;
   position: relative;
   top: 20%;
   left: 28%;
}

.js{
   color: #155729;
   display: block;
   font-family: 'Open Sans', sans-serif;
   font-weight: 700;
   font-size: 30px;
   position: relative;
   top: 20%;
   line-height: 100%;
}

.skill {
   position: relative;
   width: 100%;
   margin: 0 auto;
   top: 20em;
   max-width: 1000px;
   min-width: 1000px;
   padding: 0 20px;
}

.skill-name {
   font-size: 18px;
   font-weight: 700;
   color: #167742;
   text-transform: uppercase;
   margin: 20px 0;
}

.skill-bar{
   height: 14px;
   background: #78CD91;
   border-radius: 3px;
}

.skill-per {
   height: 14px;
   background: #FFFFFF;
   border-radius: 3px;
   position: relative;
   animation: fillBars 0.7s 2.5s ease forwards;
}

.skill-per::before{
   content: attr(per);
   position: absolute;
   padding: 4px 6px;
   background: #FFFFFF;
   border-radius: 4px;
   font-size: 12px;
   top: -35px;
   right: 0;
   transform: translate(50%);
}

.skill-per::after{
   content: "";
   position: absolute;
   width: 10px;
   height: 10px;
   background: #FFFFFF;
   top: -20px;
   right: 0;
   transform: translate(50%) rotate(45deg);
   border-radius: 2px;
}

@keyframes fillBars {
   from{
      width: 0;
   }
   to{
      width: 100%;
   }
}

/* 포트폴리오 */
#work {
   background-color: #EBEBEB;
   display: flex;
}

#work .mywork{
   color: #000000;
   display: block;
   font-family: 'Open Sans', sans-serif;
   font-weight: 700;
   font-size: 7em;
   position: relative;
   top: 18%;
   left: 39.5%;
}

#work .img1{
   position: absolute;
   top: 36%;
   width: 30%;
   right: 33.5%;
}

#work .img2{
   position: absolute;
   top: 17%;
   width: 25%;
   right: 43%;
}

#work .img3{
   position: absolute;
   top: 32%;
   width: 30%;
   right: 28%;
   transform: rotate(20deg);
   animation: ani2 0.9s 1s ease forwards;
}

#work .img4{
   position: absolute;
   width: 30%;
   left: 40%;
   bottom: 25%;
}

 #work .img5{
   position: absolute;
   width: 30%;
   left: 30%;
   bottom: 30%;
 }

 @keyframes ani2 {
   0% {
		right: 30%;
	}
   100% {
      right: 23%;
   }
 }

.swiper-container {
   width: 100%;
   height: 100%;
 }

 .swiper-slide {
   text-align: center;
   font-size: 18px;

   -webkit-box-pack: center;
   -ms-flex-pack: center;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   -webkit-align-items: center;
   align-items: center;
 }

.swiper-slide .big{
   font-family: 'Open Sans', sans-serif;
   font-size: 3em;
   position: relative;
   font-weight: lighter;
   top: 20%;
}

.swiper-slide #aniamtion{
   font-family: 'Open Sans', sans-serif;
   font-size: 3em;
   position: relative;
   font-weight: lighter;
   top: 20%;
   left: 30px;
}

.swiper-slide .small {
   color: gray;
   font-family: 'Open Sans', sans-serif;
   font-size: 1.5em;
   position: relative;
   font-weight: lighter;
   top: 22%;
}

.swiper-slide .small:nth-child(2) {
   color: gray;
   font-family: 'Open Sans', sans-serif;
   font-size: 1.5em;
   position: relative;
   font-weight: lighter;
   top: 25%;
   right: 5.5%;
}

.swiper-button-next {
   padding-right: 0px;
   padding-top: 3%;
   width: 80%;
}

.swiper-button-prev {
   width: 80%;
   padding-left: 0px;
   padding-top: 3%;
}


#work .btnbox{
   position: relative;
   top:800px;
   padding: 100px;
   width: 30%;
   left: 31%;
}

#work #btnbox2{
   position: relative;
   top:26.5%;
   padding: 100px;
   width: 30%;
   left: 31%;
}

#work #btnbox3{
   position: relative;
   top:66.5%;
   padding: 100px;
   width: 30%;
   left: 31%;
}

#work #btnbox4{
   position: relative;
   top:66.5%;
   padding: 100px;
   width: 30%;
   left: 31%;
}

#work strong{
   font-family: 'Open Sans', sans-serif;
   font-size: 10em;
   font-weight: bold;
   position: relative;
   left: 1em;
   top: 0.4em;
}

.btnbox button,
.btnbox button::after{
   -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
   -o-transition: all 0.3s;
	transition: all 0.3s;
}

.btnbox button{
   background: none;
   border: 3px solid #000000;
   border-radius: 5px;
   color: #000000;
   display: block;
   font-size: 1em;
   font-weight: bold;
   margin: 1em auto;
   padding: 1em 5em;
   position: relative;
   text-transform: uppercase;
}

.btnbox a {
   display: block;
   padding: 1em 5em;
}

button::before,
button::after {
  background: #000;
  content: '';
  position: absolute;
  z-index: -1;
}

button:hover{
   background: #000;
   color: #FFFFFF;
   cursor: pointer;
}

.btn-1::after{
   height: 0;
   left: 50%;
   top: 50%;
   width: 0;
}

.btn-1:hover:after{
   height: 100%;
   left: 0;
   top: 0;
   width: 100%;
}

#sun {
   position: absolute;
   top: 56%;
   left: 51%;
   height: 150px;
   width: 150px;
   margin-top: -100px; 
   margin-left: -100px;
   border-width: 1px;
   border-style: solid;
   border-radius: 50%;
   box-shadow: 0 0 128px #FF0006;
   background: #FAE080;
   border-color: #bb4e23;
}

#earth {
   position: absolute;
   top: 0;
   left: 50%;
   height: 50px;
   width: 50px;
   margin-left: -25px;
   margin-top: -25px;
   border: 0px solid;
   border-radius: 50%;
   -webkit-box-shadow: 0px 0px 20px 0px #BABABA;
   box-shadow:         0px 0px 20px 0px #BABABA;
   background: lightblue;
}

#earth-orbit {
   position: absolute;
   top: 57%;
   left: 50%;
   width: 450px;
   height: 400px;
   margin-top: -250px;
   margin-left: -250px;
   border: 0px dotted white;
   border-radius: 50%;
   -webkit-animation: spin-right 10s linear infinite;
   animation: spin-right 10s linear infinite;
}


@-webkit-keyframes spin-right {
   100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
   }
}

@keyframes spin-right {
   100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
   }
}

.stars {
   margin: 0 auto;
   background-color: #000000;
   width: 900px;
   height: 500px;
   display: block;
   position: relative;
   top: 30%;
   box-shadow: 5px 5px 10px 10px #000000;
}
.star {
   width: 2px;
   height: 2px;
   border-radius: 50%;
   border-top-left-radius: 50%;
   border-top-right-radius: 50%;
   border-bottom-left-radius: 50%;
   border-bottom-right-radius: 50%;
   background-color: #FAE080;
   position: relative;
   left: 10px;
   top: 40px;
   box-shadow: 0 0 8px 2px #BABABA;
   animation: star 4s infinite;
   -webkit-animation: star 4s infinite;
}

@keyframes star
{
0% {opacity: 0.2;}
50% {opacity: 1;}
100% {opacity: 0.2;}
}

@-webkit-keyframes star
{
0% {opacity: 0.2;}
50% {opacity: 1;}
100% {opacity: 0.2;}
}

.cube {
	animation: rotate 10s linear infinite;
   -webkit-animation : rotate 10s linear infinite;
	bottom: 0;
	height: 100px;
	left: 0;
	margin: auto;
	position: absolute;
	transform-style: preserve-3d;
	right: 0;
	top: 0;
	width: 100px;
   backface-visibility: visible;
}

@keyframes rotate {
	100% {
		transform: rotateY(360deg) rotateX(720deg) rotateZ(1080deg);
	}
}

@-webkit-keyframes rotate {
	100% {
		transform: rotateY(360deg) rotateX(720deg) rotateZ(1080deg);
	}
}

.face {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
   opacity: 0.5;
}

.front {
	background: #ACACAC;
	transform: translateZ(50px);
}

.back {
	background: #797979;
	transform: translateZ(-50px);
}

.left {
	background: #959595;
	transform: translateX(-50px) rotateY(90deg);
}

.right {
	background: #878787;
	transform: translateX(50px) rotateY(90deg);
}

.top {
	background: #CBCBCB;
	transform: translateY(-50px) rotateX(90deg);
}

.bottom {
	background: #636363;
	transform: translateY(50px) rotateX(90deg);
}

#contact {
   background-color: #FAE080;
   display: flex;
   position: relative;
}

#contact .contactme {
   color: #000000;
   display: block;
   font-family: 'Open Sans', sans-serif;
   font-weight: 700;
   font-size: 5em;
   position: absolute;
   left: 40%;
   top: 25%;
}

#contact #text2 {
   color: #000000;
   display: block;
   font-family: 'Open Sans', sans-serif;
   font-weight: 700;
   font-size: 1.5em;
   font-weight: lighter;
   position: absolute;
   left: 44%;
   top: 32%;
}

#contact .mail{
   color: #000000;
   display: block;
   font-family: 'Open Sans', sans-serif;
   font-weight: 700;
   font-size: 3em;
   position: absolute;
   left: 47%;
   top: 40%;
}

#contact .mail2{
   color: #000000;
   display: block;
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
   font-size: 0.5em;
   position: relative;
   right: 15%;
   top: 40%;
   line-height: 100%;
}

#contact .footer_rw{
   width: 100%;
   background-color: #000000;
   height: 20%;
   bottom: 0px;
   position: absolute;
   display: flex;
}

#contact .footer {
   color: #EBEBEB;
   text-align: center;
   align-items: center;
   justify-content: center;
   margin: 0 auto;
   position: relative;
   top: 35%;
}

.footer_p1 {
   top: 100px;
   font-weight: 700;
   line-height: 130%;
}

.footer_p2 {
   top: 130px;
   line-height: 130%;
}

address {
   position: relative;
}

/* Button */
#top_margin {
    display: none;
    height: 140px;
 }
#btn_top {
    position: fixed;
    right: 2%;
    bottom: 30px;
    display: none;
    z-index: 9999;
    cursor: pointer;
 }


/* 스크롤다운 애니메이션 */

.scroll-downs {
    position: absolute;
    right: 0;
    bottom: 100px;
    left: 0;
    margin: auto;
    width :34px;
    height: 55px;
}

  .scroll-downs:hover {
   animation: name duration timing-function delay iteration-count direction fill-mode;
  }

  .mousey {
    width: 3px;
    padding: 10px 15px;
    height: 30px;
    border: 2px solid #000000;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
  }
  .scroller {
    width: 3px;
    height: 10px;
    border-radius: 75px;
    background-color: #000000;
    animation-name: scroll;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }
   @keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
  } 

